body {
    background-color: #101717;
}

.heading {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.secondheading {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    padding-left: 0.5em
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.list-group-item {
    background-color: #101717;
    color: #FFFFFF;
    font-family: 'Azeret Mono', monospace;
}
.paragraph {
    font-family: 'Azeret Mono', monospace;
    font-weight: 15500;
    color: #ffffff;
}

#resume, #resume:link, #resume:visited {
    font-family: 'Azeret Mono', monospace;
    font-weight: 500;
    color: #ffffff;
}

#imagepoint {
    width: 50%;
}

.topcorner{
    position:absolute;
    bottom:0;
    right:0;
}

.testlink {
    animation-name: firstanimation;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.1,.56,.39,1.02);
    color: #FFFFFF;
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-size: 28px;
}
.testlink:link, .testlink:visited {
    color: #FFFFFF;
}

@keyframes firstanimation {
    from {
    position: absolute;
    margin-left: 1500px;
    width: 300%;
    color: #FFFFFF;
  }

    to {
    margin-left: 0%;
    width: 100%;
    color: #FFFFFF;
  }
}

@keyframes secondanimation {
    0% {
    position: absolute;
    margin-top: 1500px;
  }

    75% {
    position: absolute;
    margin-top: 1500px;
  }

    100% {
    margin-top: 0%;
  }
}

.photo {
    animation-name: secondanimation;
    animation-duration: 6s;
}

.testlink:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.contactlinks, .contactlinks:link, contactlinks:visited {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: #FFFFFF;
}

.contactlinks:hover {
    text-decoration: underline;
    color: #FFFFFF;
}